
<div id="wrapper">
<img src="assets/burger.png" alt="Burger"/>    

<h1 id>Eat-Da-Burgers!</h1>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burgers-block devoured=false}}
        {{/unless}}
        {{/each}}
        </ul> 


<form class="create-form">
<h2>Add a Burger</h2>

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <button type="submit">Add Burger</button>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burgers-block devoured=true}}
        {{/if}}
        {{/each}}
    </ul>


<h2>Get In My Belly!</h2>

    <div class="form-group">
        <label for="dev"></label>
        <br>
        <input type="text" id="dev" name="devoured">
    </div>
    
  <button type="submit">Devoured</button>

</form>
</div>


  